# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
*.framework

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.ipr
*.iws

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
android/app/libs
*.keystore

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

#ENV SECRETS
.env
Secrets.js

# NYC
.nyc_output/
coverage/

# Realm
realm-object-database/
realm-object-server/
*.realm
*.realm.*
database/

# VS CODE
.vscode
jsconfig.json

# IDK
.management/
